*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family:Georgia, 'Times New Roman', Times, serif
    ;
}
:root{
    --main-color:#286E22;
    --link-color:aqua;
    --texto-color:black;
    --borde-color:white;
    --degrade-color:white;
    --degrade-colors:rgb(155, 245, 151);
}
.titulo{
    font-size: 50px;
    color:var(--main-color);
    font-style: italic;
    text-decoration: none;
}
.titulo:hover{
    color:var(--link-color);
}
h1{
    font-size: 40px;
    color:var(--main-color);
    font-style: italic;
    text-decoration: none;
}
h2{
    font-size: 30px;
    color:var(--main-color);
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 40px;
}
.menu__diseño{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 5%;
}
.menu{
    display: flex;
    font-size: 15px;
    color:var(--main-color);
    font-style: italic;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    margin-left: 10px;
}
.menu__icono{
    width: 60px;
    height: 40px;
    margin-left: 15px;
}
.menu__buscador{
    font-size: 20px;
    margin-top: 20px;
}
.menu:hover{
    color:var(--link-color);
}
.boton__inicio{
    width:1500px;
    height:120px;
    padding:15px;
    border:5px solid var(--borde-color) ;
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
    box-sizing: border-box;
}
.articulo{
    font-style: italic;
    color:var(--texto-color);
    display: flex;
}
.articulo__img{
    width: 850px;
    height: 520px;
}
.articulo__buscador{
    font-size: 25px;
    margin-top: 20px;
}
.boton__medio{
    width:1500px;
    height:550px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.redes{
    font-size: 25px;
    font-style: italic;
    list-style: none;
    display: flex;
    margin: 20px 70px;
    width: 120px;
    height: 120px;
}
.redes:hover{
    width: 130px;
    height: 130px;
}
.boton__final{
    width:1500px;
    height:250px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-colors),var(--degrade-color));
}
.formulario{
    font-size: 30px;
    font-style: italic;
    color:var(--main-color);
    list-style: none;
}
.formulario__medio{
    width:1500px;
    height:320px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-color));
}
.formulario__img{
    width: 550px;
    height: 500px;
}
.formulario__final{
    width:1500px;
    height:520px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.explora{
    font-size: 25px;
    color:var(--main-color);
    font-style: italic;
    list-style: none;
    text-decoration: none;
}
.explora:hover{
    color:var(--link-color);
}
.explora__inicio{
    width:1500px;
    height:550px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.acerca__texto{
    display: flex;
    font-size: 20px;
    color:  black;
    font-style: italic;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
    margin-right: 10px;
}
.acerca__img{
    margin: 0 20px;
    width: 170px;
    height: 170px;
}
.acerca__medio{
    width:1500px;
    height:1000px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.portal__texto{
    font-size: 22px;
    font-style: italic;
    color: var(--texto-color);
    list-style: none;
}
.portal__medio{
    width:1500px;
    height:800px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
h3{
    font-size: 30px;
    color:var(--texto-color);
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagina__texto{
    list-style: none;
    font-size: 25px;
    font-style: italic;
    color:var(--texto-color);
}
.img{
    width: 1300px;
}
.pagina__img{
    width: 650px;
    height: 550px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}
.pagina__medio{
    width:1465px;
    height:3850px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.categoria__texto{
    font-size: 25px;
    color: var(--texto-color);
    font-style: italic;
    list-style: none;
    text-decoration: none;
}
.categoria__medio{
    width:1500px;
    height:1250px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}
.accede__texto{
    font-size: 25px;
    color:var(--texto-color);
    font-style: italic;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
}
.accede__texto:hover{
    color: var(--link-color);
}
.accede__medio{
    width:1500px;
    height:650px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
} 
.alazar__texto{
    font-size: 25px;
    color: var(--texto-color);
    font-style: italic;
    list-style: none;
    text-decoration: none;
}
.alazar__img{
    width: 400px;
    height: 400px;
}
.alazar__medio{
    width:1500px;
    height:5000px;
    padding:15px;
    border:5px solid var(--borde-color);
    margin:10px;
    background:linear-gradient(var(--degrade-color),var(--degrade-colors));
}   
